<div class="wrap">
  <mat-card class="card">
    <h1 class="title">Crear cuenta</h1>

    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field appearance="outline" class="field compact">
        <mat-label>Nombre completo</mat-label>
        <input matInput formControlName="nombre" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="field compact">
        <mat-label>Correo electrónico</mat-label>
        <input matInput type="email" formControlName="email" autocomplete="email" required />

        <mat-hint *ngIf="f.email.touched && f.email.invalid && !f.email.hasError('emailTaken')">
          Ingresa un correo válido.
        </mat-hint>

        <mat-hint *ngIf="f.email.hasError('emailTaken')">
          {{ emailTakenMsg || 'El correo ya está registrado.' }}
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" class="field compact">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          [type]="hidePwd ? 'password' : 'text'"
          formControlName="password"
          autocomplete="new-password"
          required
        />
        <button mat-icon-button matSuffix type="button" (click)="hidePwd = !hidePwd" aria-label="Mostrar/ocultar">
          <mat-icon>{{ hidePwd ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline" class="field compact">
        <mat-label>Confirmar contraseña</mat-label>
        <input
          matInput
          [type]="hidePwd2 ? 'password' : 'text'"
          formControlName="confirm"
          autocomplete="new-password"
          required
        />
        <button mat-icon-button matSuffix type="button" (click)="hidePwd2 = !hidePwd2" aria-label="Mostrar/ocultar">
          <mat-icon>{{ hidePwd2 ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>

        <mat-hint *ngIf="form.hasError('mismatch') && (f.password.dirty || f.confirm.dirty)">
          Las contraseñas no coinciden.
        </mat-hint>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        class="btn"
        type="submit"
        [disabled]="form.invalid || loading">
        Crear cuenta
      </button>

      <div id="google-btn" class="btn google-btn"></div>

      <div class="login-link">
        ¿Ya tienes cuenta? <a routerLink="/auth/login">Inicia sesión</a>
      </div>
    </form>
  </mat-card>
</div>
