<mat-sidenav-container class="shell">
  <mat-sidenav mode="side" opened class="sidenav">
  <div class="brand">RECLUTAPP</div>

 <mat-nav-list class="nav">
  <a mat-list-item routerLink="/reclutador/inicio" routerLinkActive="active">
    <mat-icon>home</mat-icon><span>Inicio</span>
  </a>

  <a mat-list-item routerLink="/reclutador/vacantes" routerLinkActive="active">
    <mat-icon>work_outline</mat-icon><span>Gestión de vacantes</span>
  </a>

  <a mat-list-item routerLink="/reclutador/recomendaciones" routerLinkActive="active">
    <mat-icon>star_border</mat-icon><span>Recomendaciones</span>
  </a>

  <a mat-list-item routerLink="/reclutador/crear-vacante" routerLinkActive="active">
    <mat-icon>add_circle</mat-icon><span>Crear vacante</span>
  </a>

  <mat-divider class="nav-sep"></mat-divider>

  <a mat-list-item class="logout" routerLink="/auth/login">
    <mat-icon>logout</mat-icon><span>Cerrar sesión</span>
  </a>
</mat-nav-list>
</mat-sidenav>


  <mat-sidenav-content class="content">
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
