<div class="shell">
  <aside class="sidenav">
    <div class="brand">RECLUTAPP</div>

    <nav class="nav">
  <a mat-list-item routerLink="/admin/inicio" routerLinkActive="active">
    <mat-icon>home</mat-icon><span>Inicio</span>
  </a>

  <a mat-list-item routerLink="/admin/usuarios" routerLinkActive="active">
    <mat-icon>group</mat-icon><span>Usuarios</span>
  </a>

  <a mat-list-item routerLink="/admin/resumen-vacantes" routerLinkActive="active">
    <mat-icon>insights</mat-icon><span>Resumen de vacantes</span>
  </a>

  <mat-divider class="mat-divider"></mat-divider>

  <a mat-list-item routerLink="/auth/login">
    <mat-icon>logout</mat-icon><span>Cerrar sesión</span>
  </a>
</nav>
  </aside>

  <main class="content">
    <div class="page">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
